{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block main_content %}
    <div class="container-fluid px-4">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fermer"></button>
            </div>
        {% endfor %}
        <h1 class="mt-4">Inscription</h1>
        <div class="card mb-4">
            <div class="card-body">
                {{ form_start(registrationForm) }}
                    <div class="mb-3">
                        {{ form_label(registrationForm.email) }}
                        {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(registrationForm.email) }}
                    </div>
                    <div class="mb-3">
                        {{ form_label(registrationForm.plainPassword, 'Mot de passe') }}
                        {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(registrationForm.plainPassword) }}
                    </div>
                    <div class="mb-3 form-check">
                        {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input'}}) }}
                        {{ form_label(registrationForm.agreeTerms, 'J\'accepte les termes et conditions', {'attr': {'class': 'form-check-label'}}) }}
                        {{ form_errors(registrationForm.agreeTerms) }}
                    </div>
                    <button type="submit" class="btn btn-primary">S'inscrire</button>
                {{ form_end(registrationForm) }}

                <div class="mt-3">
                    <a href="{{ path('app_login') }}">Vous avez déjà un compte ? Connectez-vous</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}